/* Report filter */
.report-filter {

}

.filter-criteria {
  display: block;
}
.filter-duration {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .filter-criteria {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #e6e6e6;
    &.first {
      margin-left: inherit;
      margin-right: inherit;
      border-left: inherit;
      border-right: inherit;
      padding-left: inherit; 
    }
  }
}